# --- Connections (Railway will inject these from Postgres/Redis services) ---
DATABASE_URL=postgres://postgres:postgres@localhost:5432/medusals
REDIS_URL=redis://default:password@localhost:6379?family=0

# --- Secrets (use Railway ${{secret(32)}} in production) ---
JWT_SECRET=b753yk1gjbu8zpku4i48gqzz7v2ks0pv
COOKIE_SECRET=tr40ab5zzmu17r17632dl4khv99ng1do

# --- CORS (point to your public Railway domain) ---
STORE_CORS=https://medusa-production-1934.up.railway.app
ADMIN_CORS=https://your-medusa.up.railway.app
AUTH_CORS=https://your-medusa.up.railway.app

# --- Backend URL (for admin asset paths) ---
BACKEND_URL=https://medusa-production-1934.up.railway.app

# --- Mode & port ---
MEDUSA_BACKEND_URL=https://medusa-production-1934.up.railway.app
MEDUSA_WORKER_MODE=shared
DISABLE_MEDUSA_ADMIN=false
PORT=9000
NODE_ENV=production

# --- Admin user (created on first boot, ignored thereafter) ---
MEDUSA_ADMIN_EMAIL=admin@dendrotonics.com
MEDUSA_ADMIN_PASSWORD=D3ndr0@2026!

#S3
S3_ENDPOINT=https://zyzuejjwygpuccycpamp.storage.supabase.co/storage/v1/s3
S3_REGION=ap-southeast-2
S3_BUCKET=product-images
S3_ACCESS_KEY_ID=<from step 2>
S3_SECRET_ACCESS_KEY=<from step 2>
S3_FILE_URL=https://zyzuejjwygpuccycpamp.supabase.co/storage/v1/object/public/product-images